homestyles.css filter=lfs diff=lfs merge=lfs -text
index.html filter=lfs diff=lfs merge=lfs -text
package-lock.json filter=lfs diff=lfs merge=lfs -text
package.json filter=lfs diff=lfs merge=lfs -text
user_signup.html filter=lfs diff=lfs merge=lfs -text
admin_homepage.html filter=lfs diff=lfs merge=lfs -text
app.js filter=lfs diff=lfs merge=lfs -text
cloths.html filter=lfs diff=lfs merge=lfs -text
insert_data.js filter=lfs diff=lfs merge=lfs -text
styles.css filter=lfs diff=lfs merge=lfs -text
uploads filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
seller_signup.html filter=lfs diff=lfs merge=lfs -text
product_added.html filter=lfs diff=lfs merge=lfs -text
node_modules filter=lfs diff=lfs merge=lfs -text
signup_confirmation.html filter=lfs diff=lfs merge=lfs -text
homepage.html filter=lfs diff=lfs merge=lfs -text
